---
import { AiFillGithub, AiOutlineTwitter } from "react-icons/ai";
import { FaSteamSymbol } from "react-icons/fa";
import { MdEmail } from "react-icons/md";
---

<footer class="w-full grid place-items-center">
  <nav
    class="flex w-content items-center justify-center text-jet dark:text-white gap-3"
  >
    <MdEmail size={24} />
    <AiFillGithub size={24} />
    <AiOutlineTwitter size={24} />
    <FaSteamSymbol size={24} />
  </nav>
</footer>
