---
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
---

<html lang="en" id="top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <script is:inline>
      // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
        console.log("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <style lang="scss" is:global>
      html,
      body {
        font-family: "Poppins", system-ui, sans-serif;
        font-size: 14px;
        scrollbar-color: #999 #333;
        scrollbar-width: thin;
      }
      * {
        box-sizing: border-box;
        transition: ease 200ms;
      }

      ::-webkit-scrollbar {
        width: 8px;
        height: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 50px;
      }
      ::-webkit-scrollbar-track {
        background: #333;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body
    class="grid grid-rows-[auto,1fr,50px] w-screen h-screen text-jet bg-nyanza dark:bg-black overflow-x-hidden overflow-y-auto"
  >
    <Header client:load />

    <main class="text-jet dark:text-white flex justify-center p-5">
      <section class="w-content">
        <slot />
      </section>
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
